/target/
/src/main/java/cunoc/practica_1_lfp_2021/pruevas/
/temp/
/.temp/
/src/main/java/cunoc/practica_1_lfp_2021/view/verprueva.form
/src/main/java/cunoc/practica_1_lfp_2021/view/verprueva.java
/src/main/java/cunoc/practica_1_lfp_2021/view/sub_ventanas/pruevaVerPosicion.java
